@import "../../style/variable.styl";
// 走马灯样式

.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 200px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
// 整体样式
.container
  min-width: 1075px
  padding: 20px 20px 20px 114px
  .carousel-wrapper
    width: 80%
    /*min-width: 1075px*/
    height: 226px
    margin: 0 auto
  .main-wrapper
    display: flex
    .list-wrapper
      display:inline-block
      width :70%
      padding-left: 10%
      .note-list
        /*min-width: 600px*/
        padding:15px
        list-style :none
        border-radius:5px
        background-color :#ffffff
        li.list
          padding: 5px
          border-bottom: 1px solid #eeeeee
          max-height: 550px
          a.title
            color: #000
            text-decoration: none
            &:hover
              color: BLUECOLOR
              text-decoration: underline
            p
              width: 100%
              padding-bottom: 8px
              font-family:PingFangSC-Medium
              font-weight: 500
              line-height:2
          .content
            display:flex
            a.avatar
              flex:0 0 180px
              display: inline-block
              margin-right:10px
              img
                width: 180px
                height: 100px
                border-radius: 3px
            .abstract-wrapper
              cursor:pointer
              /*min-width: 430px*/
              .abstract
                min-height: 80px
                max-height: 100px
                p
                  overflow :hidden
                  font-size :16px
                  font-family :HelveticaNeue-Light
                  font-weight:300
                  line-height:1.43
              .meta
                font-size: 12px
                span
                  padding-right: 20px
                  color: #999999
                  i
                    padding-left: 10px
                    font-style: normal
                    color:#535353
        .nav-wrapper
          display: flex
          .icon
            margin-right: 10px
            color: BLUECOLOR
            font-size: 16px

    .rightNav
      display:inline-block
      width: 230px
      height: auto
      margin-left: 20px
      margin-top: 16px
      .word-wrapper
        width: 100%
        height: auto
        padding: 20px
        margin-bottom: 10px
        border-radius: 5px
        background-color: #ffffff
        .word
          margin: 20px 0
          text-align: center
          font-size: 30px
          color: #000000
        .trans
          font-size: 16px
          color: FontColor
        .title
          color: DetailTextColor



