@import "../../style/variable.styl";
.letterItem
  cursor: pointer
  display: inline-block
// 整体样式
.container-wrapper
  padding: 20px 150px 20px 200px
  /*width:100%*/
  /*height:auto*/
  .container
    padding: 20px
    border-radius :5px
    background-color:#ffffff
    .banner-wrapper
      display :flex
      margin-bottom: 10px
      .nav
        display: flex
        margin: 10px
        .icon
          margin-right: 10px
          font-size: 16px
          color: BLUECOLOR
        .el-breadcrumb
          font-size : 16px
      .banner
        margin-left: 70px
        width: 450px
        height: auto
        img
          width: 100%
          height: 100%
    .initials
      margin: 20px 0
    .list-wrapper
      padding-left:0
      .page
        margin-top: 20px
