@import "../../style/variable.styl";
#setting
  flex-grow: 1
  max-width: 900px
  min-width: 670px
  padding:20px
  position: relative
  overflow: hidden
  border-radius:5px
  box-shadow: 0 2px 5px 0.5px rgba(0,0,0,.15);
  background-color: #ffffff
  .el-form
    .el-form-item
      .el-input
        width: 40%
