html
  margin: 0
  padding:0
  width: 100%
  height: 100%
body
  margin: 0
  padding: 0
  width: 100%
  height 100%
  background-image:url("../static/bg1.jpg")
  background-attachment: fixed
  background-size:cover
  background-position: 0 0
textarea
  margin:0
  padding: 0
  border:none
  font-family: Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
*
  box-sizing:border-box
  font-family: Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
p
  margin:0
  padding:0
input,textarea,select
  outline:none
button
  border:none
  cursor :pointer
  outline: none
a
  cursor: pointer

.disabledClass
  cursor: not-allowed

