@font-face {
  font-family: 'self-icon';
  src:  url('/static/font/self-icon.eot?qzx3io');
  src:  url('/static/font/self-icon.eot?qzx3io#iefix') format('embedded-opentype'),
    url('/static/font/self-icon.ttf?qzx3io') format('truetype'),
    url('/static/font/self-icon.woff?qzx3io') format('woff'),
    url('/static/font/self-icon.svg?qzx3io#self-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'self-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_add_circle:before {
  content: "\e900";
}
.icon_arrow_lift:before {
  content: "\1f4ff";
}
.icon_check_circle:before {
  content: "\e902";
}
.icon_close:before {
  content: "\e903";
}
.icon_favorite:before {
  content: "\e904";
}
.icon_keyboard_arrow_right:before {
  content: "\e905";
}
.icon_remove_circle_outline:before {
  content: "\e906";
}
.icon_shopping_cart:before {
  content: "\e907";
}
.icon_thumb_down:before {
  content: "\e908";
}
.icon_thumb_up:before {
  content: "\e909";
}
.icon_office:before {
  content: "\e90a";
}
.icon_pencil:before {
  content: "\e90b";
}
.icon_quill:before {
  content: "\e90c";
}
.icon_library:before {
  content: "\e921";
}
.icon_file-text2:before {
  content: "\e926";
}
.icon_stack:before {
  content: "\e92e";
}
.icon_price-tag:before {
  content: "\e935";
}
.icon_calculator:before {
  content: "\e940";
}
.icon_compass:before {
  content: "\e949";
}
.icon_user-tie:before {
  content: "\e976";
}
.icon_aid-kit:before {
  content: "\e998";
}
.icon_bug:before {
  content: "\e999";
}
.icon_pie-chart:before {
  content: "\e99a";
}
.icon_stats-dots:before {
  content: "\e99b";
}
.icon_leaf:before {
  content: "\e9a4";
}
.icon_briefcase:before {
  content: "\e9ae";
}
.icon_airplane:before {
  content: "\e9af";
}
.icon_truck:before {
  content: "\e9b0";
}
.icon_list:before {
  content: "\e9ba";
}
.icon_list2:before {
  content: "\e9bb";
}
.icon_menu:before {
  content: "\e9bd";
}
.icon_menu2:before {
  content: "\e9be";
}
.icon_menu3:before {
  content: "\e9bf";
}
.icon_menu4:before {
  content: "\e9c0";
}
.icon_download2:before {
  content: "\e9c5";
}
.icon_upload2:before {
  content: "\e9c6";
}
.icon_download3:before {
  content: "\e9c7";
}
.icon_upload3:before {
  content: "\e9c8";
}
.icon_bookmark:before {
  content: "\e9d2";
}
.icon_star-empty:before {
  content: "\e9d7";
}
.icon_star-half:before {
  content: "\e9d8";
}
.icon_star-full:before {
  content: "\e9d9";
}
.icon_heart:before {
  content: "\e9da";
}
.icon_reddit:before {
  content: "\eac6";
}
