@import "../style/variable.styl";
#user-wrapper
  .header-wrapper
    background-color:#336699
  .el-main
    width: 1080px
    height: auto
    margin: 20px auto
    border-radius :5px
    background-color : white
    .reading-wrapper
      padding: 20px
      height: auto


  .el-select
    .el-input
      width: 120px
